extends layout

block content
  .col-xs-12.col-md-10.col-md-offset-1
      .alert.alert-dismissible.alert-danger
        h4.alert-heading= message
        p.mb-0= error.stack
        //p.mb-0= error.status
